In [1]:
import pandas as pd
from ast import literal_eval
import numpy as np

In [2]:
path = './datasets'
path_res1='%s/bank2_final_women.csv' % (path)

In [3]:
data1 = pd.read_csv(path_res1, sep=",", header=0, converters={"sequence": literal_eval})

In [4]:
dataset_size = len(data1.values.tolist())
dataset_size

219701

In [5]:
path = './patterns'
name = 'result_tx_women_ps_supp_175761.csv'
path_res2='%s/%s' % (path, name)

In [6]:
data = pd.read_csv(path_res2, sep=",", header=0, converters={"patterns": literal_eval})
data

                        patterns   number
0                       [C3, C1]   177664
1                     [C10, C10]   177794
2             [C12, C1, C1, C12]   177804
3             [C1, C12, C1, C12]   177829
4             [C12, C1, C12, C1]   177964
5             [C1, C1, C12, C12]   178167
6             [C1, C12, C12, C1]   178185
7             [C12, C12, C1, C1]   178306
8          [C1, C12, C1, C1, C1]   178810
9          [C1, C1, C12, C1, C1]   178901
10         [C1, C1, C1, C12, C1]   179041
11         [C12, C1, C1, C1, C1]   179068
12  [C1, C1, C1, C1, C1, C1, C1]   179117
13         [C1, C1, C1, C1, C12]   179407
14                    [C12, C10]   180356
15                    [C10, C12]   180513
16                 [C1, C10, C1]   181335
17                 [C10, C1, C1]   181429
18                 [C1, C1, C10]   181454
19               [C12, C12, C12]   181548
20      [C1, C1, C1, C1, C1, C1]   183397
21             [C1, C12, C1, C1]   184011
22             [C1, C1, C12, C1]   184102
23             [C12, C1, C1, C1]   184149
24                [C12, C1, C12]   184149
25                [C1, C12, C12]   184324
26             [C1, C1, C1, C12]   184416
27                          [C3]   184440
28                [C12, C12, C1]   184745
29                     [C1, C10]   186836
30                     [C10, C1]   187009
31          [C1, C1, C1, C1, C1]   187861
32                 [C1, C12, C1]   189650
33                 [C12, C1, C1]   189683
34                 [C1, C1, C12]   189834
35              [C1, C1, C1, C1]   192460
36                    [C12, C12]   192842
37                         [C10]   193969
38                     [C1, C12]   195880
39                     [C12, C1]   195976
40                  [C1, C1, C1]   197361
41                      [C1, C1]   202649
42                         [C12]   204486
43                          [C1]   208918

In [7]:
patterns = list(data['patterns'])

In [8]:
import numpy as np
len_seq = []
for s in patterns:
    len_seq.append(len(s))
seq_len = np.array(len_seq)
seq_len

array([2, 2, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 7, 5, 2, 2, 3, 3, 3, 3, 6, 4,
       4, 4, 3, 3, 4, 1, 3, 2, 2, 5, 3, 3, 3, 4, 2, 1, 2, 2, 3, 2, 1, 1])

In [9]:
max_itemsets = max(seq_len)
max_itemsets

7

In [10]:
data_list = data.values.tolist()
data_list

[[['C3', 'C1'], 177664],
 [['C10', 'C10'], 177794],
 [['C12', 'C1', 'C1', 'C12'], 177804],
 [['C1', 'C12', 'C1', 'C12'], 177829],
 [['C12', 'C1', 'C12', 'C1'], 177964],
 [['C1', 'C1', 'C12', 'C12'], 178167],
 [['C1', 'C12', 'C12', 'C1'], 178185],
 [['C12', 'C12', 'C1', 'C1'], 178306],
 [['C1', 'C12', 'C1', 'C1', 'C1'], 178810],
 [['C1', 'C1', 'C12', 'C1', 'C1'], 178901],
 [['C1', 'C1', 'C1', 'C12', 'C1'], 179041],
 [['C12', 'C1', 'C1', 'C1', 'C1'], 179068],
 [['C1', 'C1', 'C1', 'C1', 'C1', 'C1', 'C1'], 179117],
 [['C1', 'C1', 'C1', 'C1', 'C12'], 179407],
 [['C12', 'C10'], 180356],
 [['C10', 'C12'], 180513],
 [['C1', 'C10', 'C1'], 181335],
 [['C10', 'C1', 'C1'], 181429],
 [['C1', 'C1', 'C10'], 181454],
 [['C12', 'C12', 'C12'], 181548],
 [['C1', 'C1', 'C1', 'C1', 'C1', 'C1'], 183397],
 [['C1', 'C12', 'C1', 'C1'], 184011],
 [['C1', 'C1', 'C12', 'C1'], 184102],
 [['C12', 'C1', 'C1', 'C1'], 184149],
 [['C12', 'C1', 'C12'], 184149],
 [['C1', 'C12', 'C12'], 184324],
 [['C1', 'C1', 'C1', 'C12'], 184416],
 [['C3'], 184440],
 [['C12', 'C12', 'C1'], 184745],
 [['C1', 'C10'], 186836],
 [['C10', 'C1'], 187009],
 [['C1', 'C1', 'C1', 'C1', 'C1'], 187861],
 [['C1', 'C12', 'C1'], 189650],
 [['C12', 'C1', 'C1'], 189683],
 [['C1', 'C1', 'C12'], 189834],
 [['C1', 'C1', 'C1', 'C1'], 192460],
 [['C12', 'C12'], 192842],
 [['C10'], 193969],
 [['C1', 'C12'], 195880],
 [['C12', 'C1'], 195976],
 [['C1', 'C1', 'C1'], 197361],
 [['C1', 'C1'], 202649],
 [['C12'], 204486],
 [['C1'], 208918]]

In [11]:
labels = []
for i in range(1,max_itemsets + 1):
    labels.append("IS" + str(i))
labels.append("supp")
labels.append("%supp")
labels

['IS1', 'IS2', 'IS3', 'IS4', 'IS5', 'IS6', 'IS7', 'supp', '%supp']

In [12]:
df = pd.DataFrame(columns=labels)
df

Empty DataFrame
Columns: [IS1, IS2, IS3, IS4, IS5, IS6, IS7, supp, %supp]
Index: []

In [13]:
list_series = []
for r in data_list:
    row_l = r[0][:]
    while len(row_l) < max_itemsets:
        row_l.append(' ')
    row_l.append(r[1])
    row_l.append(round((float(r[1])/float(dataset_size)),2))
    list_series.append(pd.Series(row_l, index=df.columns))

In [14]:
df2 = df.append(list_series , ignore_index=True)

In [15]:
df2

    IS1  IS2  IS3  IS4  IS5 IS6 IS7    supp  %supp
0    C3   C1                         177664   0.81
1   C10  C10                         177794   0.81
2   C12   C1   C1  C12               177804   0.81
3    C1  C12   C1  C12               177829   0.81
4   C12   C1  C12   C1               177964   0.81
5    C1   C1  C12  C12               178167   0.81
6    C1  C12  C12   C1               178185   0.81
7   C12  C12   C1   C1               178306   0.81
8    C1  C12   C1   C1   C1          178810   0.81
9    C1   C1  C12   C1   C1          178901   0.81
10   C1   C1   C1  C12   C1          179041   0.81
11  C12   C1   C1   C1   C1          179068   0.82
12   C1   C1   C1   C1   C1  C1  C1  179117   0.82
13   C1   C1   C1   C1  C12          179407   0.82
14  C12  C10                         180356   0.82
15  C10  C12                         180513   0.82
16   C1  C10   C1                    181335   0.83
17  C10   C1   C1                    181429   0.83
18   C1   C1  C10                    181454   0.83
19  C12  C12  C12                    181548   0.83
20   C1   C1   C1   C1   C1  C1      183397   0.83
21   C1  C12   C1   C1               184011   0.84
22   C1   C1  C12   C1               184102   0.84
23  C12   C1   C1   C1               184149   0.84
24  C12   C1  C12                    184149   0.84
25   C1  C12  C12                    184324   0.84
26   C1   C1   C1  C12               184416   0.84
27   C3                              184440   0.84
28  C12  C12   C1                    184745   0.84
29   C1  C10                         186836   0.85
30  C10   C1                         187009   0.85
31   C1   C1   C1   C1   C1          187861   0.86
32   C1  C12   C1                    189650   0.86
33  C12   C1   C1                    189683   0.86
34   C1   C1  C12                    189834   0.86
35   C1   C1   C1   C1               192460   0.88
36  C12  C12                         192842   0.88
37  C10                              193969   0.88
38   C1  C12                         195880   0.89
39  C12   C1                         195976   0.89
40   C1   C1   C1                    197361   0.90
41   C1   C1                         202649   0.92
42  C12                              204486   0.93
43   C1                              208918   0.95

In [16]:
df3 = pd.DataFrame(columns=labels)

In [17]:
df3

Empty DataFrame
Columns: [IS1, IS2, IS3, IS4, IS5, IS6, IS7, supp, %supp]
Index: []

In [18]:
list_series2 = []
for r in data_list:
    row_l = []
    for itemset in r[0]:
        if type(itemset) == list:
            item  = "< "
            for item in itemset:
                item =+ str(item) + " "
            item += ">"
        else:
            row_l.append("< " + str(itemset) + " >")
        
    while len(row_l) < max_itemsets:
        row_l.append(" ")
        
    row_l.append(r[1])
    row_l.append(round((float(r[1])/float(dataset_size)),2))
    list_series2.append(pd.Series(row_l, index=df.columns))

In [19]:
df4 = df3.append(list_series2 , ignore_index=True)

In [20]:
df4

        IS1      IS2      IS3      IS4      IS5     IS6     IS7    supp  %supp
0    < C3 >   < C1 >                                             177664   0.81
1   < C10 >  < C10 >                                             177794   0.81
2   < C12 >   < C1 >   < C1 >  < C12 >                           177804   0.81
3    < C1 >  < C12 >   < C1 >  < C12 >                           177829   0.81
4   < C12 >   < C1 >  < C12 >   < C1 >                           177964   0.81
5    < C1 >   < C1 >  < C12 >  < C12 >                           178167   0.81
6    < C1 >  < C12 >  < C12 >   < C1 >                           178185   0.81
7   < C12 >  < C12 >   < C1 >   < C1 >                           178306   0.81
8    < C1 >  < C12 >   < C1 >   < C1 >   < C1 >                  178810   0.81
9    < C1 >   < C1 >  < C12 >   < C1 >   < C1 >                  178901   0.81
10   < C1 >   < C1 >   < C1 >  < C12 >   < C1 >                  179041   0.81
11  < C12 >   < C1 >   < C1 >   < C1 >   < C1 >                  179068   0.82
12   < C1 >   < C1 >   < C1 >   < C1 >   < C1 >  < C1 >  < C1 >  179117   0.82
13   < C1 >   < C1 >   < C1 >   < C1 >  < C12 >                  179407   0.82
14  < C12 >  < C10 >                                             180356   0.82
15  < C10 >  < C12 >                                             180513   0.82
16   < C1 >  < C10 >   < C1 >                                    181335   0.83
17  < C10 >   < C1 >   < C1 >                                    181429   0.83
18   < C1 >   < C1 >  < C10 >                                    181454   0.83
19  < C12 >  < C12 >  < C12 >                                    181548   0.83
20   < C1 >   < C1 >   < C1 >   < C1 >   < C1 >  < C1 >          183397   0.83
21   < C1 >  < C12 >   < C1 >   < C1 >                           184011   0.84
22   < C1 >   < C1 >  < C12 >   < C1 >                           184102   0.84
23  < C12 >   < C1 >   < C1 >   < C1 >                           184149   0.84
24  < C12 >   < C1 >  < C12 >                                    184149   0.84
25   < C1 >  < C12 >  < C12 >                                    184324   0.84
26   < C1 >   < C1 >   < C1 >  < C12 >                           184416   0.84
27   < C3 >                                                      184440   0.84
28  < C12 >  < C12 >   < C1 >                                    184745   0.84
29   < C1 >  < C10 >                                             186836   0.85
30  < C10 >   < C1 >                                             187009   0.85
31   < C1 >   < C1 >   < C1 >   < C1 >   < C1 >                  187861   0.86
32   < C1 >  < C12 >   < C1 >                                    189650   0.86
33  < C12 >   < C1 >   < C1 >                                    189683   0.86
34   < C1 >   < C1 >  < C12 >                                    189834   0.86
35   < C1 >   < C1 >   < C1 >   < C1 >                           192460   0.88
36  < C12 >  < C12 >                                             192842   0.88
37  < C10 >                                                      193969   0.88
38   < C1 >  < C12 >                                             195880   0.89
39  < C12 >   < C1 >                                             195976   0.89
40   < C1 >   < C1 >   < C1 >                                    197361   0.90
41   < C1 >   < C1 >                                             202649   0.92
42  < C12 >                                                      204486   0.93
43   < C1 >                                                      208918   0.95